/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "daisyui";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

.scene-container {
  width: 100%;
  height: 400px;
  display: block;
}
