<carousel-news class="z-0"/>
<div class="ml-[100px] mt-[50px] px-4 flex flex-col flex-1 h-full text-slate-800 mr-[100px]">

        <!-- <boots-model></boots-model> -->
        <h1 class="text-5xl text-white font-bold">
        Nuestros Productos más vendidos
        </h1>
        <p class="text-white text-1xl">Consulta los productos más comprados en nuestra tienda. Si no encuentras lo que buscas, prueba usando la barra de busqueda!</p>

        <carousel-trends class="text-white"/>

        <h1 class="text-5xl text-white font-bold mt-10">
        Accesorios mas populares
        </h1>
        <carousel-trends class="text-white"/>
</div>